:root {
  --bs-body-font-family: "PT Serif";
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}

.logo-container {
  background-color: #333;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.video-container {
  height: 50vh;
}

.video-container .video {
  padding: 0;
}

.catalog-container {
  padding: 6vh 0;
  background-color: #333;
}

.catalog-container h1 {
  text-align: center;
  color: #fff;
  padding-bottom: 6vh;
  font-size: 35px;
}

.catalog-container .catalog-image img {
  margin: auto;
  display: block;
}

.catalog-container .catalog-image .title {
  text-align: center;
  color: #fff;
  padding-top: 4vh;
  font-size: 26px;
}

.statement-container {
  background-color: #666;
}

.statement-container .statement {
  padding: 0;
}

.statement-container .copy {
  color: #ddd;
  text-align: justify;
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 0 100px;
  line-height: 80px;
}

.statement-container img {
  width: 100%;
  margin: auto;
  display: block;
}

.footer-container {
  background: #444;
  color: #ddd;
  height: 20vh;
  padding-top: 96px;
  font-size: 16px;
  color: #eee;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

@media (max-width: 1610px) {
  /* .catalog-container h1 {
  }

  .catalog-container .catalog-image .title {
  } */

  .statement-container .copy {
    line-height: 70px;
  }
}

@media (max-width: 1450px) {
  .statement-container .copy {
    line-height: 60px;
  }
}

@media (max-width: 1365px) {
  .statement-container .copy {
    line-height: 55px;
  }
}

@media (max-width: 1225px) {
  .catalog-container h1 {
    font-size: 30px;
  }

  .catalog-container .catalog-image .title {
    font-size: 22px;
  }

  .statement-container .copy {
    font-size: 18px;
    line-height: 50px;
  }

  .footer-container {
    font-size: 14px;
  }
}

@media (max-width: 1130px) {
  .catalog-container h1 {
    font-size: 26px;
  }

  .catalog-container .catalog-image .title {
    font-size: 18px;
  }

  .statement-container .copy {
    font-size: 16px;
    line-height: 45px;
  }

  .footer-container {
    font-size: 12px;
  }
}

@media (max-width: 1040px) {
  .statement-container .copy {
    font-size: 16px;
    line-height: 35px;
  }
}

@media (max-width: 1000px) {
  .statement-container .copy {
    font-size: 16px;
    line-height: 35px;
    padding: 0 60px;
  }
}

@media (max-width: 875px) {
  .statement-container .copy {
    line-height: 30px;
  }
}

@media (max-width: 875px) {
  .statement-container .copy {
    line-height: 25px;
  }
}

@media (max-width: 767px) {
  .catalog-container {
    padding: 6vh 0 0 0
  }

  .catalog-container h1 {
    padding-bottom: 2vh;
  }

  .catalog-container .catalog-image .title {
    padding-top: 1vh;
    padding-bottom: 6vh;
  }

  .logo-container {
    height: 30vh;
  }

  .statement-container .copy {
    padding: 30px 50px 20px;
    display: block;
    font-size: 20px;
    line-height: 40px;
  }

  .statement-container .copy h1 {
    display: block;
  }

  .footer-container {
    font-size: 14px;
    padding: 80px 60px;
    height: 20vh;
  }
}
